* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.nav-container {
  height: 10% !important;
  width: 100%;
  background-color: black;
}
.main-container {
    height: 90% !important;
    width: 100%;
    
    background-image: url(/static/nijika-wall2.jpg);
    background-size: cover;
    background-origin: content-box;
    background-position:70% 50%;
  }
