* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.nav-container {
  height: 10% !important;
  width: 100%;
  background-color: black;
}
.main-container {
    height: 90% !important;
    width: 100%;
    background-color: rgb(232, 8, 8);
  }
